
.spot{
    display: flex;
    background-color: white;
    min-height: 20px;
    width: 60%;
    margin: auto;
    padding: 2rem;
    border-radius: 2rem;
    margin-top: 1.5rem;
}

.imgContainer{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.spotImg{
    max-width: 250px;
    max-height: 250px;
    display: block;
    width: auto;
    height: auto;

    border-radius: 2rem;
}

.businessInfoRating{
    color: white;
    width: 50%;
    background-color: #FC834B;
    margin-left: 1rem;
    padding: 1.2rem;
    border-radius: 2rem;
    text-align: center;
}

.ratingColumns{
    display: flex;
    height: auto;
    
}

.ratingComponent{
    line-height: 0.5rem;
    margin-top: 1rem;
    margin-bottom: -1rem;
}

.leftColumn{
    float: left;
    width: 50%;
    display: flex;

}

.reviewContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0.5rem;
}

.reviewContainer h4{
    font-size: .85rem;
    align-self: flex-end;
}
.scoreContainer{
    background-color: white;
    border-radius: 1rem;
    color: #FC834B;
    margin: auto;
    width: 5.5rem;
    height: 6rem;
    padding: 1;
}

.scoreContainer h3{
    font-size: 2.2rem;
    margin: 0.5rem 0;
}

.scoreContainer h4{
    font-size: 1rem;
    margin: 0.5rem 0;
}

.separator {
    width: 3rem;
    height: .1rem;
    background-color: #FC834B;
    border: none
}

.rightColumn{
    display: flex;
    float: righ;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.businessInfoAdressUL{
    text-align: center;
    width: 30%;
    margin-left: 1rem;
    padding: 1.2rem;
    background-color: #7777;
    border-radius: 2rem;
    display:inline-table;
}

.addressInfo{
    list-style: none;
    white-space: nowrap;
    display:inline;
}

@media (max-width: 800px) {
    .spot {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 800px) {
    .spot {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .spot > * {
        padding: 1rem;
    }
}

a{
    color: white;
}